{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Route Mapper plugin for Craft CMS 3.x
 *
 * Route Mapper Settings.twig
 *
 * @author    Isaac and Alex
 * @copyright Copyright (c) 2019 Isaac and Alex
 * @link      vaersaagod.no
 * @package   RouteMapper
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("vaersaagod\\routemapper\\assetbundles\\routemapper\\RouteMapperAsset") %}

{{ forms.textField({
    label: 'OSRM service URL',
    id: 'osrmUrl',
    name: 'osrmUrl',
    value: settings['osrmUrl']})
}}
