/**
 * Route Mapper plugin for Craft CMS
 *
 * RouteMapperField Field CSS
 *
 * @author    Isaac and Alex
 * @copyright Copyright (c) 2019 Isaac and Alex
 * @link      vaersaagod.no
 * @package   RouteMapper
 * @since     1.0.0
 */

.leaflet-routing-container-hide {
    display: none;
}

.route-mapper {
    &__slider {
        padding: 20px 0;
    }
}