{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Route Mapper plugin for Craft CMS 3.x
 *
 * RouteMapperField Field Input
 *
 * @author    Isaac and Alex
 * @copyright Copyright (c) 2019 Isaac and Alex
 * @link      vaersaagod.no
 * @package   RouteMapper
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.hidden({
        id: name,
        name: name,
        value: value})
}}



<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<div class="route-mapper__slider">
    <h3>Extrusion size in KM</h3>
    <input type="range" id="route-mapper-buffer" name="buffer" 
         min="5" max="50" value="{{ bufferAmount }}" step="5" data-buffer>
    <span data-buffer-preview></span>
</div>
<div style="display:flex;flex-direction:column;">
        <div data-map style="width: 100%; height: 500px;flex:0 0 auto;"></div>
</div>
